.home {
  padding: 1rem;

  .controls {
    span, input {
      margin: .5rem;
    }  
  }

  .prompt {
    input, button {
      margin: .5rem;
    }
    input {
      width: 20rem;
      padding: .5rem;
    }
    button {
      padding: .5rem 1rem;
      background: rgb(20, 40, 200);
      color: rgb(255, 255, 255);
      font-weight: bold;
      border: 0;
      border-radius: .25rem;
      cursor: pointer;
    }
  }

  .languages {
    list-style: none;
    padding-inline-start: 0;
    
    li {
      display: inline-flex;
      flex-direction: column;
      width: 16rem;
      align-items: center;
      margin: 1rem;
      border: 2px dashed rgb(150, 150, 150);
      padding: 1rem;
      border-radius: 1rem;

    }
  }
}